* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  /* overflow-x: hidden; */
}

/* #region Fonts */
@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Lt.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Rg.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Md.ttf);
  font-weight: 550;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Bd.ttf);
  font-weight: bold;
}
/* #endregion Fonts */




:root{
  /* Font */
  --primary-font: "AktivGrotesk", sans-serif;

  /* Colors */
  --grey99: #3c3b34;
  --grey70: #9b9a92;
  --grey50: #c6c5bd;
  --grey20: #eaeae6;
  --background-grey: #f6f6f4;
  --accent-red: #ff6b6b;
}

body{
  background-color: #fff;
  font-family: var(--primary-font);
  color: var(--grey99);
}


/* #region Header */
.topbar{
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 56px;
  background-color: #fff;
  
  & a.logo img{
    height: 20px;
  }
}

#breadcrums{
  font-size: 12px;
  color: var(--grey50);
}

.call-us{
  display: none;
}

.contact-button{
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  padding: 1px 5px;
  color: var(--grey99);
  border: 1px solid var(--grey99);
}

button.menu{
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--grey99);
}

/* #region Hamburgermenu */
.primary-nav{
  display: none;
}
/* #endregion Hamburgermenu */

/* #endregion Header */

/* #region Main */
main{
  margin-top: 100px;
}

section{
  margin: 1rem;
}

.steps ul{
  list-style: none;
}

.cases ul{
  list-style: none;
}


main img{
  width:90vw;
}
/* #endregion Main */