* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

/* #region Fonts */
@font-face {
  font-family: "AktivGrotesk_Lt";
  src: url(/Assets/Font/AktivGrotesk_Lt.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Rg.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Md.ttf);
  font-weight: 550;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Bd.ttf);
  font-weight: bold;
}
/* #endregion Fonts */

:root{
  /* Font */
  --primary-font: "AktivGrotesk", sans-serif;

  /* Colors */
  --grey99: #3c3b34;
  --grey70: #9b9a92;
  --grey50: #c6c5bd;
  --grey20: #eaeae6;
  --background-grey: #f6f6f4;
  --white: #fff;
  --accent-red: #ff6b6b;
  --background-footer:#33322c;

  /* margin */
  --margin-text: .5em 0;
  --padding-footer-text: 1rem 1.5rem;
}

body{
  background-color: var(--white);
  font-family: var(--primary-font);
  color: var(--grey99);
}

.subtitle{
  display: block;
  color: var(--grey70);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* #region Header */
header{
  & .topbar{
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
    background-color: var(--white);
    
    & a.logo img{
      height: 20px;
    }
  }

  & #breadcrums{
    font-size: 12px;
    color: var(--grey50);
  }

  & .call-us{
    display: none;
  }

  & .contact-button{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 1px 5px;
    color: var(--grey99);
    border: 1px solid var(--grey99);
  }

  & button.menu-button{
    display: flex;
    border: 0;
    background: transparent;
    color: var(--grey99);
  
    & .text{
      margin-right: 10px;
    }
  }

  /* #region Hamburgermenu */
  & .topbar-nav{
    z-index: -1;
    background-color: transparent;
    opacity: 0;
    transition-property: opacity;
  }

  & .primary-nav{
    top: -100vh;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    background-color: var(--grey99);
    opacity: 0;
    overflow: scroll; /*zorgt ervoor dat je in het menu kan scrollen*/
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, opacity;

    & .nav-main-section{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    & section{  
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-bottom: 40px;

      & .title{
        font-size: 2rem;
        font-weight: bold;
        color: var(--white);
        text-decoration: none;
      }

      & .about-nav-title{
        font-weight: bold;
        color: var(--grey70);
      }

      & ul{
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;

        & li ul{
          margin-left: 1rem;
        }
      }
  
      & ul li a{
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        color: var(--grey70);
      }
  
      & .sub-menu li a{
        color: var(--white);
      }
    }

    .about-nav-menu ul li a{
      color: var(--white);
    }

    .nav-bottom-section{
      margin-top: auto;

      & a{
        color: var(--grey70);
        text-decoration: none;
        margin-right: 24px;
      }
    }
  }



  /* #endregion Hamburgermenu */
} 

header.nav-open {
  & button.menu-button{
    color: var(--white);

    & svg path{
      fill: var(--white);
    }
  }
  /* #region Hamburgermenu */
  & .topbar-nav {
    z-index: 21;
  }

  & .topbar-nav, & .primary-nav{
    opacity: 1;
    transition-duration: .3s;
    transition-timing-function: ease-out;
  }

  & .primary-nav{
    top: 0;
  }
  /* #endregion Hamburgermenu */
}



/* #endregion Header */

/* #region Main */
main{
  margin-top: 60px;

  & section{
    margin: 1rem;
  }
  & .paragrafe-section{
    margin-top: 80px;
  }

  & h1{
    font-size: 2.5rem;
    margin: var(--margin-text);
  }

  & h2, h3, h4, p{
    margin: var(--margin-text);
  }
  
  & section article p{
    font-size: 1.2rem;
  }
}

main img{
  width:90vw;
}

/* div met linkjes erin */
.buttons {
  & .button{
    margin-bottom: 40px;
  }

  & .primary-button{
    margin-right: 40px;
  }
}

.primary-button{
  display: inline-flex;
  padding: 12px 32px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--accent-red);
  color: var(--white);
}

.link{
  font-size: 14px;
  text-decoration: none;
  color: var(--accent-red);
  /* span voor het pijltje */
}


/* #region Dictionary */
.dictionary-quote{
  margin: 0;
  padding: 1rem 1.5rem;
  background-color: var(--grey99);
  color: var(--white);

}

dfn{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1.5rem;
}

.subtext{
  font-size: 16px;
  line-height: 26px;
  margin: 8px 0 0;
  padding-bottom: 24px;
  color: var(--grey70);
  border-bottom: 1px solid hsla(53, 7%, 76%, 0.502);
}

/* #endregion Dictionary */

/* #region Steps */
.steps ul{
  overflow: auto;
  white-space: nowrap;
  list-style: none;
  /* scroll list/carousel */

  & li{
    display: inline-block;
    white-space: normal;
  }
}
/* #endregion Steps */

/* #region Cases */
.cases ul{
  overflow: auto;
  white-space: nowrap;
  list-style: none;
  /* scroll list/carousel */

  & li{
    display: inline-block;
    white-space: normal;
  }
}

.cases .primary-button{
  margin-bottom: 20px;
}
/* #endregion Cases */

/* #region Contact */
#contact span{
  display: block;
  padding: 0.2rem 0;

  & a{
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--grey99);
  }
}

#contact img{
  display: none;
}
/* planner/calender */

/* #endregion Contact */

/* #region Related */
.related, .read, .solutions{
  margin: 0;
}

/* #region Read more */
.read{
  padding: 1rem 1.5rem;
  background-color: var(--background-grey);

  & li{
    margin-top: 1.2rem;
  }

  & li a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    color: var(--grey99);
    text-decoration: none;
  }

  & .read-more{
    color: var(--accent-red);
    font-weight: normal;
    font-size: 14px;
  }
}


/* #endregion Read more */

/* #region Solutions */
.solutions{
  padding: 1rem 1.5rem;
  background-color: var(--accent-red);
  color: var(--white);

  & .subtitle{
    color: var(--white);
  }

  & h2{
    font-size: 1.3rem;
  }
}

.secondary-button{
  display: inline-flex;
  padding: 12px 32px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--white);
  color: var(--grey99);
}
/* #endregion Solutions */

/* #endregion Related */
/* #endregion Main */

/* #region Footer */
footer{
  margin-top: auto;
}

/* #region Navigation */
.footer-navigation{
  position: relative;
  background-color: var(--background-footer);
  color: var(--white);
  padding-top: 72px;
  padding-bottom: 72px;

  & .menu-title{
    font-weight: bold;
    padding: var(--padding-footer-text);
  }

  & .menu img{
    height: 55px;
  }

  & ul{
    list-style: none;
    padding: var(--padding-footer-text);

    & li{
      padding: 8px 0;
    }
  }

  & a {
    text-decoration: none;
    color: var(--grey50);
  }

  & .footer-general-menu{
    padding-top:0;
  }
}

div.menu{
  padding-top: 2rem;
}
/* #endregion Navigation */

/* #region Tagline */
.footer-tagline{
  padding: 64px 1.5rem;
  background-color: var(--grey99);
  color: var(--white);

  & h2{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
  }

  & span{
    margin-bottom: 1.2rem;
  }

  & p{
    font-size: 14px;
    line-height: 34px;
  }
}
/* #endregion Tagline */

/* #region Credentials */
.footer-credentials{
  padding:var(--padding-footer-text);
  background-color: var(--background-footer);
  color:var(--white);
  font-size: 14px;
  line-height: 34px;

  & a{
    text-decoration: none;
    color: var(--grey70);
  }

  & .secondary-line{
    color:var(--grey70);
  }
}
/* #endregion Credentials */

/* #endregion Footer */

