* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

/* #region Fonts */
@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Lt.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Rg.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Md.ttf);
  font-weight: 550;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url(/Assets/Font/AktivGrotesk_Bd.ttf);
  font-weight: bold;
}
/* #endregion Fonts */

:root{
  /* Font */
  --primary-font: "AktivGrotesk", sans-serif;

  /* Colors */
  --grey99: #3c3b34;
  --grey70: #9b9a92;
  --grey50: #c6c5bd;
  --grey20: #eaeae6;
  --background-grey: #f6f6f4;
  --white: #fff;
  --accent-red: #ff6b6b;
  --background-footer:#33322c;

  /* margin */
  --margin-text: .5rem 0;
  --margin-sides: 0 .5rem;
  --padding-footer-text: 0 1rem 1.5rem;
  --padding-big-screen: 0 9rem;
}

body{
  background-color: var(--white);
  font-family: var(--primary-font);
  color: var(--grey99);


  & p{
    max-width: 30em;
    line-height: 1.5em;
  }
}

.subtitle{
  display: block;
  color: var(--grey70);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* #region Header */
header{
  & .topbar{
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
    background-color: var(--white);
    
    & a.logo img{
      height: 20px;
    }
  }

  & #breadcrums{
    font-size: 12px;
    color: var(--grey50);
    margin: 0 16px;
  }

  & .header-contact{
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  & .call-us{
    display: none;
    margin-right: 24px;
  }

  & .contact-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 1px 5px;
    margin-right: 24px;
    color: var(--grey99);
    border: 1px solid var(--grey99);
  }

  & button.menu-button{
    display: flex;
    border: 0;
    background: transparent;
    color: var(--grey99);
  
    & .text{
      margin-right: 10px;
    }
  }

  /* #region Hamburgermenu */
  & .topbar-nav{
    z-index: -1;
    background-color: transparent;
    opacity: 0;
    transition-property: opacity;
  }

  & .primary-nav{
    top: -100vh;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 140px;
    background-color: var(--grey99);
    opacity: 0;
    overflow: scroll; /*zorgt ervoor dat je in het menu kan scrollen*/
    transition-duration: .5s;
    transition-timing-function: ease-out;
    transition-property: top, opacity;

    & section{  
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      margin-bottom: 40px;

      & .title{
        font-size: 2rem;
        font-weight: bold;
        color: var(--white);
        text-decoration: none;
      }

      & .about-nav-title{
        font-weight: bold;
        color: var(--grey70);
      }

      & ul{
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        list-style: none;

        & li ul{
          margin-left: 1rem;
        }
      }
  
      & ul li a{
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        color: var(--grey70);
      }
  
      & .sub-menu li a{
        color: var(--white);
      }
    }

    .about-nav-menu ul li a{
      color: var(--white);
    }

    .nav-bottom-section{
      margin-top: auto;

      & a{
        color: var(--grey70);
        text-decoration: none;
        margin-right: 24px;
      }
    }
  }
  /* #endregion Hamburgermenu */
} 

header.nav-open {
  & button.menu-button{
    color: var(--white);

    & svg path{
      fill: var(--white);
    }
  }
  /* #region Hamburgermenu */
  & .topbar-nav {
    z-index: 21;
  }

  & .topbar-nav, & .primary-nav{
    opacity: 1;
    transition-duration: .5s;
    transition-timing-function: ease-out;
  }

  & .primary-nav{
    top: 0;
  }
  /* #endregion Hamburgermenu */
}
/* #endregion Header */



/* #region Main */
main{
  margin-top: 60px;

  & section{
    margin: 1rem;
  }

  & .paragrafe-section{
    margin-top: 80px;
  }

  & h1{
    font-size: 2.5rem;
  }

  & h1, h2, h3, h4, p{
    margin: var(--margin-text);
  }
  
  & .header-section article p{
    font-size: 1.2rem;
  }
}

main img{
  width: 90vw;
}

/* div met linkjes erin */
.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & .button{
    margin-top: 20px;
  }

  & .primary-button{
    margin-right: 40px;
  }
}

.primary-button{
  display: inline-flex;
  padding: 12px 32px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--accent-red);
  color: var(--white);
}

.link{
  font-size: 14px;
  text-decoration: none;
  color: var(--accent-red);
  /* span voor het pijltje */
}


/* #region Dictionary */
.dictionary-quote{
  margin: 0;
  padding: 1rem 1.5rem;
  background-color: var(--grey99);
  color: var(--white);
}

dfn{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 1.5rem;
}

.subtext{
  font-size: 16px;
  line-height: 26px;
  margin: 8px 0 0;
  padding-bottom: 24px;
  color: var(--grey70);
  border-bottom: 1px solid hsla(53, 7%, 76%, 0.502);
}
/* #endregion Dictionary */

/* #region Caroucel */
.caroucel{
  overflow: auto; /*Zorgt ervoor dat de lijst scrolled*/
  white-space: nowrap; /*Zorgt ervoor dat de lijst op een lijn blijft staan*/
  list-style: none;
  /* scroll list/carousel */

  /* padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 90vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem; */

  & li{
    /* background-color: #f6f6f4; */
    display: inline-block;
    white-space: normal;
    margin: var(--margin-sides);
  }

  & img{
    width: 300px;
    height: 300px;
  }
}

/* #region Cases */
.cases .primary-button{
  margin-bottom: 20px;
}
/* #endregion Cases */
/* #endregion Caroucel */

/* #region Contact */
.contact span{
  display: block;
  padding: 0.2rem 0;

  & a{
    padding-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--grey99);
  }
}

.contact img{
  display: none;
}
/* #endregion Contact */

/* #region Related */
.related, .read, .solutions{
  margin: 0;
}

.related{
  display: flex;
  flex-flow: row wrap;
}

/* #region Read more */
.read{
  padding: 40px 1.5rem;
  background-color: var(--background-grey);
  width: 100%;

  & ul{
    display: flex;
    flex-direction: column;
  }

  & li{
    margin-top: 1.2rem;
  }

  & li a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    color: var(--grey99);
    text-decoration: none;
  }

  & .read-more{
    color: var(--accent-red);
    font-weight: normal;
    font-size: 14px;
  }
}
/* #endregion Read more */

/* #region Solutions */
.solutions{
  padding: 40px 1.5rem;
  background-color: var(--accent-red);
  color: var(--white);
  width: 100%;

  & .subtitle{
    color: var(--white);
  }

  & h2{
    font-size: 1.3rem;
  }
}

.secondary-button{
  display: inline-flex;
  padding: 12px 32px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--white);
  color: var(--grey99);
}
/* #endregion Solutions */

/* #endregion Related */
/* #endregion Main */



/* #region Footer */
footer{
  margin-top: auto;
}

/* #region Navigation */
.footer-navigation{
  position: relative;
  background-color: var(--background-footer);
  color: var(--white);
  padding: 72px 1.5rem;
  display: flex;
  flex-flow: row wrap;

  & .menu{
    width: 100%;
    padding-top: 2rem;
  }

  & .menu-title{
    font-weight: bold;
    padding: 0 1rem;
  }

  & .menu img{
    height: 24px;
    padding: 0 1rem;
  }

  & ul{
    list-style: none;
    padding: var(--padding-footer-text);

    & li{
      padding: 8px 0;
      display: flex;
    }
  }

  & a {
    text-decoration: none;
    color: var(--grey50);
  }

  & .footer-general-menu{
    padding-top:0;
  }
}
/* #endregion Navigation */

/* #region Tagline */
.footer-tagline{
  padding: 64px 1.5rem;
  background-color: var(--grey99);
  color: var(--white);

  & h2{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
  }

  & span{
    margin-bottom: 1.2rem;
  }

  & p{
    font-size: 14px;
    line-height: 34px;
  }
}
/* #endregion Tagline */

/* #region Credentials */
.footer-credentials{
  padding: 1.5rem;
  background-color: var(--background-footer);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 34px;

  & a{
    text-decoration: none;
    color: var(--grey70);
  }

  & .secondary-line{
    color:var(--grey70);
  }
}
/* #endregion Credentials */
/* #endregion Footer */



/* #region Mediaqueries */
@media only screen and (min-width: 40em) {
  /* #region Header */
  header{
    & .call-us{
      display: block;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      color: var(--grey99);
    }

    & .label{
      font-weight: 400;
      margin-right: 8px;
      color: var(--grey70);
    }

    & .topbar{
      height: 80px;

      & a.logo img{
        height: 38px;
      }
    }

  }
  /* #endregion Header */

  /* #region Main */
  main{
    margin-top: 90px;

    & .header-section{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      & .subtitle{
        width: calc(100% - 1rem);
        margin: var(--margin-sides);
      }

      & article{
        width: calc(60% - 1rem);
        margin: var(--margin-sides);
        margin-top: 40px;
        order: 1;
      }

      & img{
        width: calc(40% - 1rem);
        height: 400px;
        margin: var(--margin-sides);
        margin-top: 40px;
        object-fit: cover;
        order:2;
      }
    }

    & h1{
      margin: 0;
    }  
  }

  .read, .solutions{
    width: 50%;
  }
  /* #endregion Main */

  /* #region Footer */
  .footer-navigation{
    & .menu.columns-1{
      width: 50%;
    }

    & .footer-solutions-menu{
      column-count: 2;
    }
  }

  .footer-tagline{
    & p{
      margin-left: calc(30% + 0.5rem);
    }
  }
  /* #endregion Footer */
}

@media only screen and (min-width: 48em) {
  /* #region Header */
  header{
    & .primary-nav{
      & .nav-main-section{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
      }
    }
  }
  /* #endregion Header */  
  
  /* #region Main */
  .dictionary-quote article{
    margin-left: calc(20% + 0.5rem);
  }

  .contact {
    display: flex;
    
    & img{
      display: block;
      width: calc(40% - 1rem);
      object-fit: cover;
      margin: var(--margin-sides);
    }

    & article{
      margin: var(--margin-sides);
    }
  }
  /* #endregion Main */
}

@media only screen and (min-width: 64em){
  /* #region Main*/
  .header-section, .steps, .cases, .contact{
    padding: var(--padding-big-screen);
  }

  .dictionary-quote article{
    padding: var(--padding-big-screen);
  }

  .read{
    width: 60%;
    padding-left: 9rem;

    & ul{
      flex-direction: row;
      align-items: center;
    }

    & li{
      width: 50%;
    }
  }

  .solutions{
    width: 40%;
    padding-right: 9rem;
  }
  /* #endregion Main */ 

  /* #region Footer */
  .footer-navigation, .footer-tagline, .footer-credentials{
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .footer-navigation{
    & .menu.columns-1{
      width: 25%;
    }

    & .menu.columns-2{
      width: 50%;
    }
  }

  .footer-credentials{
    flex-direction: row;

    & span {
      padding: var(--padding-footer-text);
    }
  }
  /* #endregion Footer */ 
}
/* #endregion Mediaqueries */